/* line 6, ../sass/stylesheet.sass */
body, html {
  background: #eeeeee;
  height: 100%;
  margin: 0;
}

/* line 12, ../sass/stylesheet.sass */
.preview {
  overflow: hidden;
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

/* line 19, ../sass/stylesheet.sass */
.links a {
  margin-right: 20px;
}
/* line 22, ../sass/stylesheet.sass */
.links a.active {
  color: red;
}

/* line 25, ../sass/stylesheet.sass */
.buttons {
  clear: both;
  padding: 20px 0;
  text-align: right;
}
/* line 30, ../sass/stylesheet.sass */
.buttons .button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 20px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #666666;
  padding: 5px 10px;
  background: white;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 40, ../sass/stylesheet.sass */
.buttons .button:hover {
  background: #dddddd;
}

/* line 44, ../sass/stylesheet.sass */
.section {
  position: relative;
  height: 100%;
  width: 100%;
}

/* line 51, ../sass/stylesheet.sass */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
/* line 59, ../sass/stylesheet.sass */
.popup .background {
  position: absolute;
  z-index: 1001;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 69, ../sass/stylesheet.sass */
.popup .playout {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left !important;
  z-index: 1002;
  background: white;
  padding: 20px;
}
/* line 78, ../sass/stylesheet.sass */
.popup .playout h1 {
  font-size: 22px;
  color: black;
  border-bottom: 1px solid black;
  line-height: 60px;
  padding-left: 30px;
  padding-top: 0 !important;
}
/* line 86, ../sass/stylesheet.sass */
.popup .cross {
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-family: Arial;
  background: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  right: -40px;
  top: -40px;
  cursor: pointer;
  z-index: 1001;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 101, ../sass/stylesheet.sass */
.popup .cross:hover {
  background: #cccccc;
}
/* line 104, ../sass/stylesheet.sass */
.popup .scroll {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1002;
}
/* line 112, ../sass/stylesheet.sass */
.popup .scroll.active {
  overflow-y: scroll;
}
/* line 115, ../sass/stylesheet.sass */
.popup .playout {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  background: white;
  text-align: left;
  -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
  -moz-transition: -moz-transform 0.2s ease, opacity 0.2s ease;
  -o-transition: -o-transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  font-size: 14px;
}
/* line 129, ../sass/stylesheet.sass */
.popup.opening .playout, .popup.closing .playout {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
/* line 132, ../sass/stylesheet.sass */
.popup.opening .background, .popup.closing .background {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
